################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/BGViewer/FileContentIndex/ebf60cbc-c769-4217-8f1e-dd4e00971ccd.vsidx
