/.vs/BGViewer/FileContentIndex/ebf60cbc-c769-4217-8f1e-dd4e00971ccd.vsidx
/BGViewer/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BGViewer/obj/x86/Debug/GraphicViewer.pdb
/BGViewer/bin/Debug/GraphicViewer.pdb
/.vs/BGViewer/FileContentIndex/read.lock
/.vs/BGViewer/FileContentIndex/706d3197-9d93-4c02-b106-549eff047a09.vsidx
/.vs/BGViewer/FileContentIndex
/packages
.vs
obj
/BGViewer/bin
