################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/BGViewer/FileContentIndex/read.lock
/.vs/BGViewer/FileContentIndex/706d3197-9d93-4c02-b106-549eff047a09.vsidx
